<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<title>
  <%= title %> 
</title>
<!------SEO------>
<meta name="description" content="truyen tranh" />
<meta name="keywords" content="truyen tranh" />
<meta name="author" content="truyen tranh" />
<meta property="og:url" content="https://truyentranh.com/" />
<meta property="og:image" content="" />
<meta property="og:description" content="truyen tranh" />
<link rel="icon" href="/img/favicon.ico" sizes="36x16" />
<link rel="canonical" href="./" />
<!------styles------>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" media="all" rel="stylesheet" />
<!------animated------>